.content article .book-title {
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  color: #2c2c2c;
  display: block;
  font-size: 45px;
  line-height: 1.1;
  margin: 0 0; }
.content article .book-title a {
  text-decoration: none;
  color: #333332; }
.content article .book-title a:hover {
  text-decoration: none; }


main.book .post .post-content h2 {
  padding-top:0;
  margin-top: 0;
}

main.book .post .post-content p {
  padding-bottom: 10px;
}

main.book .post .post-content ul {
  padding-bottom: 15px;
}

main.book .post .post-content li {
  margin-bottom: 0;
}

@media all and (max-width:767px) {
    .table-thead {
    font-size: 11px;
}
}.navTabs {
    padding-bottom: 10px;
}
.navTabs--borderless {
    border: 0;
}
.navTabs.is-hidden {
    display: none;
}
.navTabs-list {
    border-top: 1px rgba(0, 0, 0, 0.15) solid;
    list-style: none;
}
.navTabs-item {
    display: inline-block;
    margin-right: 20px;
    margin-top: -1px;
}
.navTabs-item:last-child {
    margin-right: 0;
}
.navTabs-anchor {
    font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-style: normal;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    white-space: nowrap;
}
.navTabs-item.is-active .navTabs-anchor {
    color: rgba(0, 0, 0, 0.8);
    border-top: 1px rgba(0, 0, 0, 0.6) solid;
}
.navTabs-count {
    margin-left: 6px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.44);
    font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-style: normal;
}
.navTabs-item.is-active .navTabs-count {
    color: rgba(0, 0, 0, 0.8);
}
.metabar+.navTabs {
    margin-top: 65px;
}
.navTabs-anchor>.icon--arrowDownThin:before {
    font-size: 14px;
    margin-left: -2px;
    top: 0;
}
.navTabs-anchor>.icon--arrowRight {
    font-size: 15px;
    margin-top: -6px;
    font-weight: 700;
}
.navTabs-anchor:hover>.icon--arrowDownThin:before {
    color: rgba(0, 0, 0, 0.9);
}
.navTabs--narrow {
    padding-bottom: 0px;
    margin-bottom: -15px;
}
.navTabs--narrow .navTabs-anchor {
    padding: 15px 0;
}
.navTabs--light {
    border-top-color: rgba(255, 255, 255, 0.35);
}
.navTabs--light .navTabs-anchor {
    color: rgba(255, 255, 255, 0.65);
}
.navTabs--light .navTabs-anchor:hover, .navTabs--light .navTabs-item.is-active .navTabs-anchor {
    color: #fff;
}
.navTabs--light .navTabs-item.is-active .navTabs-anchor {
    border-top-color: #fff;
}
.navTabs--dark .navTabs-anchor {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 400;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.navTabs--dark .navTabs-item.is-active .navTabs-anchor {
    font-weight: 700;
    border-top: 1px solid rgba(0, 0, 0, 0.9);
}
.navTabs--metabar {
    border-top: 0;
    text-align: left;
    margin-right: 400px;
    margin-left: 25px;
}
.navTabs--metabar .navTabs-list {
    border-top: 0;
    width: 80%;
    max-width: 700px;
    white-space: nowrap;
}
.navTabs--metabar .navTabs-list {
    max-width: 580px;
}
.navTabs--metabar .navTabs-anchor {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    letter-spacing: .1em;
    padding: 20px 0 19px;
}
.navTabs--metabar .navTabs-anchor:hover {
    color: rgba(0, 0, 0, 0.9);
}
.navTabs--metabar .u-showOnNetbook .navTabs-anchor {
    padding-bottom: 0;
}
.navTabs--metabar .navTabs-item.is-active {
    border-bottom: 2px rgba(0, 0, 0, 0.8) solid;
}
.navTabs--metabar .navTabs-item.is-active>.navTabs-anchor {
    font-weight: 700;
    border-top: 0;
}
.navTabs--column .navTabs-item {
    display: block;
    margin: 0;
}
.navTabs--column .navTabs-item>.navTabs-anchor {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%}
.navTabs--column .navTabs-list {
    border-top: 0;
}
@media screen and (max-width:1420px) and (min-width:992px) {
    .navTabs--metabar {
    margin-left: 60px;
    margin-right: 0;
}
.navTabs--metabar .navTabs-list {
    width: auto;
    max-width: none;
    margin: 10px;
}
}@media screen and (max-width:991px) {
    .navTabs-list {
    margin-bottom: 5px;
}
.navTabs--metabar {
    background-color: #fafafa;
    width: 100%;
    margin: 5px 0 0;
    padding-top: 5px;
    padding-bottom: 0;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
.navTabs--metabar .navTabs-list {
    margin-bottom: 0;
    margin-left: 25px;
}
.navTabs--metabar .navTabs-item {
    margin-right: 15px;
}
.navTabs--metabar .navTabs-anchor {
    padding: 10px 0;
}
.navTabs-item:not(.is-active) .navTabs-anchor {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
}
}@media screen and (max-width:767px) {
    .navTabs--metabar {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
}
.navTabs--metabar>.navTabs-list {
    padding-left: 20px;
    width: auto;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.navTabs--metabar>.navTabs-list:-webkit-scrollbar {
    display: none;
}
.navTabs {
    padding-bottom: 0;
}
.navTabs-anchor {
    padding: 18px 0;
    letter-spacing: .1em;
}
.navTabs-item {
    margin-right: 15px;
}
.navTabs--metabar {
    margin: 55px -16px 0;
}
@media all and (max-width:767px) {
    .table-thead {
    font-size: 11px;
}
}.navTabs {
    padding-bottom: 10px;
}
.navTabs--borderless {
    border: 0;
}
.navTabs.is-hidden {
    display: none;
}
.navTabs-list {
    border-top: 1px rgba(0, 0, 0, 0.15) solid;
    list-style: none;
}
.navTabs-item {
    display: inline-block;
    margin-right: 20px;
    margin-top: -1px;
}
.navTabs-item:last-child {
    margin-right: 0;
}
.navTabs-anchor {
    font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-style: normal;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    white-space: nowrap;
}
.navTabs-item.is-active .navTabs-anchor {
    color: rgba(0, 0, 0, 0.8);
    border-top: 1px rgba(0, 0, 0, 0.6) solid;
}
.navTabs-count {
    margin-left: 6px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.44);
    font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-style: normal;
}
.navTabs-item.is-active .navTabs-count {
    color: rgba(0, 0, 0, 0.8);
}
.metabar+.navTabs {
    margin-top: 65px;
}
.navTabs-anchor>.icon--arrowDownThin:before {
    font-size: 14px;
    margin-left: -2px;
    top: 0;
}
.navTabs-anchor>.icon--arrowRight {
    font-size: 15px;
    margin-top: -6px;
    font-weight: 700;
}
.navTabs-anchor:hover>.icon--arrowDownThin:before {
    color: rgba(0, 0, 0, 0.9);
}
.navTabs--narrow {
    padding-bottom: 0px;
    margin-bottom: -15px;
}
.navTabs--narrow .navTabs-anchor {
    padding: 15px 0;
}
.navTabs--light {
    border-top-color: rgba(255, 255, 255, 0.35);
}
.navTabs--light .navTabs-anchor {
    color: rgba(255, 255, 255, 0.65);
}
.navTabs--light .navTabs-anchor:hover, .navTabs--light .navTabs-item.is-active .navTabs-anchor {
    color: #fff;
}
.navTabs--light .navTabs-item.is-active .navTabs-anchor {
    border-top-color: #fff;
}
.navTabs--dark .navTabs-anchor {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 400;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.navTabs--dark .navTabs-item.is-active .navTabs-anchor {
    font-weight: 700;
    border-top: 1px solid rgba(0, 0, 0, 0.9);
}
.navTabs--metabar {
    border-top: 0;
    text-align: left;
    margin-right: 400px;
}
.navTabs--metabar .navTabs-list {
    border-top: 0;
    width: 80%;
    max-width: 700px;
    white-space: nowrap;
}
.navTabs--metabar .navTabs-list {
    max-width: 580px;
}
.navTabs--metabar .navTabs-anchor {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    letter-spacing: .1em;
    padding: 31px 0 19px;
}
.navTabs--metabar .navTabs-anchor:hover {
    color: rgba(0, 0, 0, 0.9);
}
.navTabs--metabar .u-showOnNetbook .navTabs-anchor {
    padding-bottom: 0;
}
.navTabs--metabar .navTabs-item.is-active {
    border-bottom: 2px rgba(0, 0, 0, 0.8) solid;
}
.navTabs--metabar .navTabs-item.is-active>.navTabs-anchor {
    font-weight: 700;
    border-top: 0;
}
.navTabs--column .navTabs-item {
    display: block;
    margin: 0;
}
.navTabs--column .navTabs-item>.navTabs-anchor {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%}
.navTabs--column .navTabs-list {
    border-top: 0;
}
@media screen and (max-width:1420px) and (min-width:992px) {
    .navTabs--metabar {
    margin-left: 160px;
    margin-right: 0;
}
.navTabs--metabar .navTabs-list {
    width: auto;
    max-width: none;
}
}@media screen and (max-width:991px) {
    .navTabs-list {
    margin-bottom: 5px;
}
.navTabs--metabar {
    background-color: #fafafa;
    width: 100%;
    margin: 65px 0 0;
    padding-top: 5px;
    padding-bottom: 0;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
.navTabs--metabar .navTabs-list {
    margin-bottom: 0;
}
.navTabs--metabar .navTabs-item {
    margin-right: 15px;
}
.navTabs--metabar .navTabs-anchor {
    padding: 10px 0;
}
.navTabs-item:not(.is-active) .navTabs-anchor {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
}
}@media screen and (max-width:767px) {
    .navTabs--metabar {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
}
.navTabs--metabar>.navTabs-list {
    padding-left: 20px;
    width: auto;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.navTabs--metabar>.navTabs-list:-webkit-scrollbar {
    display: none;
}
.navTabs {
    padding-bottom: 0;
}
.navTabs-anchor {
    padding: 18px 0;
    letter-spacing: .1em;
}
.navTabs-item {
    margin-right: 15px;
}
.navTabs--metabar {
    margin: 5px 25px 0;
}
